{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "no-multiple-empty-lines": [2, {"max": 1, "maxEOF": 1}],
  }
}
