{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "no-console": [
      1
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "prefer-const": [
      2
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "props",
          "context",
          "state",
          "static-methods",
          "defaultProps",
          "constructor",
          "lifecycle",
          "/^on.+$/",
          "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "everything-else",
          "/^render.+$/",
          "render"
        ]
      }
    ]
  }
}
