{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-console": [
      1
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "prefer-const": [
      2
    ]
  }
}
